/** limmedia.io **/
.productView-title-bulkPricing {
    color: #757575;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 .21429rem 0;
}

.productView-info-bulkPricing {
    clear: both;
    padding: 0;
}

.productView-info-bulkPricing * {
    float: none;
}

table.productView-table-bulkPricing {
    font-family: Poppins,Arial,Helvetica,sans-serif;
}

table.productView-table-bulkPricing tbody tr th {
    background-color: #f0f0f0;
}

table.productView-table-bulkPricing tbody tr td {
    background-color: #ffffff;
}

table.productView-table-bulkPricing tr:last-child {
    color: #22b14c;
    font-weight: 400!important;
}

table.productView-table-bulkPricing tr:last-child td {
    font-weight: 600!important;
}
