<section class="heroCarousel"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }'>
    {{#each carousel.slides}}
    <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}heroCarousel-slide--stretch{{/if}}"
        style="background-image: url({{image}})">
        <a href="{{url}}">
            {{!-- <img class="heroCarousel-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"/> --}}
            {{#if @first}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
            {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    lazyload='lazyload'
                }}
            {{/if}} 
            {{#if heading}}
                {{> components/carousel-content show_background=true}}
            {{else}}
                {{#if text}}
                    {{> components/carousel-content show_background=true}}
                {{else}}
                    {{#if button_text}}
                        {{> components/carousel-content show_background=false}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </a>
    </div>
    {{/each}}
</section>
